<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/register.css">

<script src="/scripts/passwordConfirmation.js"></script>

</head>

<body>
<%- include('includes/navigation.ejs') %>

<div class="text-center">

    <form class="form-signin" action="/register/password" method="POST">

        <img class="mb-4" src="/images/big_logo.png" alt="" width="100"
             height="100">

        <h1 class="h3 mb-3 font-weight-normal">Enter a new password</h1>

        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input class="form-control first_input" type="password" minlength="8"
                   name="password" placeholder="Password" required autofocus>


            <label for="confirm" class="sr-only">Confirm</label>
            <input class="form-control last_input" type="password" minlength="8"
                   name="confirm" placeholder="Confirm password" required>
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; Avish & Nati 2020</p>
    </form>
</div>




<%- include('includes/end.ejs') %>